
/*

 [ main/base ]

 Settings and variables.

 — 1. Typecsset
 — 2. Custom Variables    (base, c-item, a-inputs, font weights)
 — 3. CSSWizardry-grids
 — 4. Z-Index Scale
*/

@import '../../../node_modules/core-scss/modules/all';

// [ 1. Typecsset ]

  $typecsset-base-font-size: 17px;
  $typecsset-base-line-height: 27px;
  $typecsset-show-baseline: false;

// [ 2. Custom Variables ]

  $type-font-family: "sans-serif";//"aktiv-grotesk", sans-serif;//"proxima-nova", sans-serif;
  $padding-vertical: 27px;
  $o-band-padding-vertical: 40px;
  //$c-cover-prototype__slide-veil-opacity: 0.7;
  //$wrap-width-tiny: 300px;

  // hero list

  // $hero-list-title-font-size: 1.50rem;
  // $hero-list-subtitle-font-size: 1.25rem;
  // $hero-list-li-font-size: 0.75rem;
  // $hero-list-subtitle-color: $color-black;
  // $hero-list-li-color: $color-black;

  // c-item

  $c-item-font-size: $typecsset-base-font-size;
  $c-item-font-color: $color-grey-dark;

  $c-item-link-color: $color-red;
  $c-item-quote-color: $color-grey-dark;

  $c-item-font-a: "minion-pro";
  $c-item-font-b: serif;
  $c-item-font-c: $type-font-family;

  $c-item-font-date: $c-item-font-a;
  $c-item-font-header: $c-item-font-a;
  $c-item-font-tag: $c-item-font-a;

  $c-item-header-resize: true;
  $c-item-link-monochrone: true;
  $c-item-cover-media-negative-margin: false;

  // u-anchor
  //$u-anchor--padding-top: 70px;

  // Inputs

  $input-font-family: $type-font-family;
  $input-font-size: 14px;
  $type-link-color: #000;
  $type-link-text-decoration: underline;

  // Font Weights

  $thin: 100;
  $light: 300;
  $regular: 400;
  $bold: 600;
  $extra-bold: 700;

// [ 3. CSSWizardry-grids ]

  $gutter: 25px;
  $use-markup-fix: false;

  $breakpoints: (
    'palm' '(max-width: 530px)',
    'lap' '(min-width: 531px) and (max-width: 1023px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)',
    'wide' '(min-width: 1500px)'
  );

  $media-palm: nth(nth($breakpoints, 1), 2);
  $media-lap: nth(nth($breakpoints, 2), 2);
  $media-portable: nth(nth($breakpoints, 3), 2);
  $media-desk: nth(nth($breakpoints, 4), 2);
  $media-wide: nth(nth($breakpoints, 5), 2);


// 4. Z-Index Scale
// --------------------------------------------------
  $zIndex-1:   100;
  $zIndex-2:   200;
  $zIndex-3:   300;
  $zIndex-4:   400;
  $zIndex-5:   500;
  $zIndex-6:   600;
  $zIndex-7:   700;
  $zIndex-8:   800;
  $zIndex-9:   900;
  $zIndex-10: 1000;
