
$c-admin-font-size: 16px !default;

.c-admin {
  //
}

.c-admin p {
  margin-bottom: 10px;
}

.c-admin textarea {
  margin-bottom:0;
  min-height: 150px;
}

.c-admin h1,
.c-admin h2,
.c-admin h3,
.c-admin h4,
.c-admin h5,
.c-admin h6 {
  font-size: $c-admin-font-size;
}

.c-admin__title {
  //
}

@media all and #{$media-desk} {
	.c-admin-form__label {
		background-color:rgba(0,0,0,0.03);
		position:absolute;
		left:-16.666%;
	}
}

$color-a: #000;
$color-b: #bababa;

$admin-list-primary-font-size: 17px;
$admin-list-secondary-font-size: 14px;

.admin-list-item {
	font-size: $admin-list-primary-font-size;
	margin-bottom: 8px;
}

.admin-list-itemLink {
	text-decoration: none;
}

.admin-list-item.is-active .admin-list-itemLink:link,
.admin-list-item.is-active .admin-list-itemLink:visited, {
	color: $color-a;
}

.admin-list-item.is-trashed .admin-list-itemLink:link,
.admin-list-item.is-trashed .admin-list-itemLink:visited, {
	color: $color-b;
}

.admin-list-optionLink {
	font-size: $admin-list-secondary-font-size;
	padding: 0 7px;
	color: $color-b;
	text-decoration: none;
}

.admin-list-item .is-invisible {
	display: none;
}

.admin-list-item:hover .is-invisible {
	display: inline-block;
}

.admin-list-itemDetails {
	margin-top: 6-$admin-list-secondary-font-size;
	font-size: $admin-list-secondary-font-size;
	line-height: $admin-list-secondary-font-size;
	color: $color-b;
	margin-bottom: 8px;
}

/*-------*/

.admin-title {
	font-weight: $bold;
	margin-bottom: 27px;
	color: #333;
}

.admin-menu {
	margin-bottom:27px;
}

.admin-menu-item {
	text-decoration: none;
	font-size: 14px;
	margin-right: 6px;
	color: #333;
	opacity:0.6;
}

a.admin-menu-item:hover {
	text-decoration: underline;
}

.admin-dashboard-greeting {
	font-size: 26px;
	font-weight: $light;
}
