

// Components and Variables
//@import 'base-main'; // Settings, colors, breakpoints, modules

$thin: 100;
$light: 300;
$regular: 400;
$bold: 600;
$extra-bold: 700;

// [ 3. CSSWizardry-grids ]

  $gutter: 17px;
  $use-markup-fix: false;

  $breakpoints: (
    'palm' '(max-width: 530px)',
    'lap' '(min-width: 531px) and (max-width: 1023px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)',
    'wide' '(min-width: 1500px)'
  );

  $media-palm: nth(nth($breakpoints, 1), 2);
  $media-lap: nth(nth($breakpoints, 2), 2);
  $media-portable: nth(nth($breakpoints, 3), 2);
  $media-desk: nth(nth($breakpoints, 4), 2);
  $media-wide: nth(nth($breakpoints, 5), 2);


// Vendors
@import '../bower/bourbon/app/assets/stylesheets/bourbon';

// All
@import '../bower/core-scss/modules/colors';

// Space
@import '../bower/core-scss/partials/c-item';
